@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .slide {
    animation: slide 0.3s ease-out forwards;
    transform: translateX(100%);
  }

  @keyframes slide {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  /* ... */
}